.numer{
   background-color: skyblue;
   display: flex;
  justify-content: center;
  height: 200px;
 

}
.boxs1{
    position: relative;
    color: white;
    float: left;
    width: 30%;
    background-color: royalblue;
    text-align: center;
    padding-top: 60px;
    padding-left: 4cm;
}
    .boxs2{
        position: relative;
        color: white;
        float: left;
        width: 30%;
        background-color: royalblue;
        text-align: center;
        padding-top: 60px;
        padding-left: 0.5cm;
        
    }
        .boxs3{
            position: relative;
            color: white;
            float: left;
            width: 30%;
            background-color: royalblue;
            text-align: center;
            padding-top: 60px;
        }
            .boxs4{
                position: relative;
                color: white;
                float: left;
                width: 30%;
                background-color: royalblue;
                text-align: center;
                padding-top: 60px;
                padding-right: 4cm;
            }
    
.num{
    padding-bottom: 25px;
}